@import url(http://fonts.googleapis.com/css?family=Finger+Paint);

body {
	font-family: 'Finger Paint', cursive;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align:center;
}

.street-view > img,
.street-view > video {
	width: 100%;
	height: 100%;
}

.hotspot h1{
	padding: 5px;
	position: fixed;
	z-index: 2;
	font-size: 20px;
	top: 20px;
	left: 10px;
}

.hotspot {
	text-shadow:3px 3px 10px black;
	background-image:url(sign.png);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	position: absolute;
	margin-top: -1ex;
	width: 290px;
	height: auto;
	padding: 45px;
}